{% extends 'base.html.twig' %} {% block title %}Hello CartController!{% endblock %} {% block body %}
{%if app.user %}
 {% if items | length > 0 %}
<table class="table">
    <thead>
        <tr>
            <th>Nom du vélo</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for bike in items %}
        <tr>
            <td>{{ bike.product.name }}</td>
            <td>{{ bike.product.price}}</td>
            <td>{{ bike.quantity}}</td>
            <td>{{ bike.product.price|number_format * bike.quantity|number_format }}</td>
            <td>
                <a href="{{path('cart_remove', {'id': bike.product.id})}}" class="btn btn-danger btn-sm">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/> 
                    </svg>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ path('cart_buy') }}" class="btn btn-success btn-block"> Passer la Commande !</a> {% else %}
<div>
    <p>
        Votre panier est vide
    </p>
</div>
{% endif %}

{% else %}
Vous devez être connecté pour avoir accès à votre panier
{% endif %} {% endblock %}