{% extends 'base.html.twig' %} {% block title %}Hello RentController!{% endblock %} {% block body %}


<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <td><strong>#id location</strong></td>
                        <td class="text-center"><strong>Nombre de vélo</strong></td>
                        <td class="text-center"><strong>Nombre de jours</strong></td>
                        <td class="text-center"><strong>Jour de départ</strong></td>
                        <td class="text-right"><strong>Total : 7 € / jours / vélos</strong></td>
                    </tr>
                </thead>
                <tbody>
                    {% for rent in rents %}
                    <tr>
                        <td>{{ rent.id }}</td>
                        <td class="text-center">{{ rent.bikeNbr}}</td>
                        <td class="text-center">{{ rent.dayNbr}}</td>
                        <td class="text-center">{{ rent.startDate |date("m/d/Y")}}</td>
                        <td class="text-right">{{ rent.bikeNbr * rent.dayNbr * 7 }} €</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}